.wrapper {
  margin: 20px auto 0;
  width: 50%;
}

.form {
  display: flex;
  gap: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.left {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.right {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeInput {
  max-width: 100px;
}

.flexGrow {
  flex-grow: 1;
}
