.container {
  margin-top: 30px;
}

.table {
  width: 100%;
  border-spacing: 0 10px;
}

.table th {
  border-bottom: 3px solid var(--color-dark);
}

.table td {
  border: 3px solid var(--color-dark);
  border-left-width: 0;
  border-right-width: 0;
  text-align: center;
  padding: 10px;
}

.table td:first-child {
  border-left-width: 3px;
  border-radius: 10px 0 0 10px;
}

.table td:last-child {
  border-right-width: 3px;
  border-radius: 0 10px 10px 0;
}

.Accepted {
  color: var(--color-success);
}

.Rejected {
  color: var(--color-alert);
}

.Pending {
  color: var(--color-advice);
}
