.navbarWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mainWrapper {
  margin: 20px auto 0;
  width: 50%;
}

@media screen and (max-width: 1700px) {
  .mainWrapper {
    width: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .mainWrapper {
    width: 95%;
  }
}
